// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-image: url('/img/tile.jpg');
    background-repeat: repeat;
 }

section:before {
    height: 50px;
    content: '';
    display: block;
}

section {
    position: relative;
}

section > .anchor {
    position: absolute;
    top: -65px;
}
